@import 'variables';
@import 'mixin';

* { outline-style: none !important; }
body { line-height: 1.4; background-color: $bg-body; color: $color; font-size: 16px; font-weight: 400;  width: 100%; height: 100%; position: relative; font-family: $font-family; }

/* header */
header { height: 300px; background-color: #fff;  box-shadow: 0 0 2px #999;  }

/* .container */
.container { padding-top: 40px; padding-bottom: 40px; }

/* .thumbnail */
.thumbnail { padding: $thumb-padding; border-radius: $thumb-border-radius; border: 1px solid #fff; box-shadow: $thumb-box-shadow;
	/* thumb title */
	&-title { font-size: 14px; font-weight: bold; font-family: $thumb-font-family; }
	/* thumb img */
	img { border-radius: 6px; width: 100%; height: auto; }
	.imgWrapper { position: relative; height: auto; width: auto;
		.boardPinCount { position: absolute; right: 5px; bottom: 5px; padding: 2px 10px; color: #fff; font-weight: bold; background-color: rgba(0,0,0, .3); border-radius: 4px; line-height: 1.3; font-size: 12px; }
	}
	/* thumb list news */
	&-list-news { margin-bottom: 20px;
		.newsItem { display: block; font-size: 14px; color: #666D7C; text-decoration: none;
			&:first-child .newsImg .imgIcon { margin-top: -11px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24) }
			&:nth-child(1n+2) .newsText { border-top: 1px solid #ddd; }
			div { height: 46px;
				&:first-child { text-align: center; }
			}
			.newsImg { width: 33.33332%; float: left; display: inline-table;
				.imgIcon { width: 46px; height: 46px; background-color: #ddd; margin: auto; margin-top: -1px; position: relative; display: block; border-radius: 50%;
					&.imgIcon-bg-red { background-color: #f44336;}
					&.imgIcon-bg-blue { background-color: #317CF6; }
					&.imgIcon-bg-yellow { background-color: #F8CB2A; }

					img { width: 100%; height: 100%; border-radius: 50%; }
				}
			}
			.newsText { width: 66.66668%; display: block; padding: 5px 0px; line-height: 1.4;
				overflow:hidden;
				/*white-space: nowrap;*/
			  text-overflow:ellipsis; 
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				&:hover { color: #337AB7; cursor: pointer; 
					.creditCost { color: #666D7C; }
				}
			}
		}
		.newCreditItem {
			.newsInfo { padding: 5px 0px; 
				p { margin: 0; padding: 0; overflow:hidden; white-space: nowrap; text-overflow: ellipsis; }
			}
		}
	}
	/* button follow */
	.btn-follow { background-color: #FCFCFC; border: 1px solid rgba(0,0,0,.12);
		&:hover { background-color: #f5f5f5; }
	}

	@media all and (max-width: 768px) {
		& {  border-radius: 4px; }
		/* thumb title */
		&-title { font-size: 11px; margin-top: 5px; margin-bottom: 5px; }
		/* thumb img */
		img { border-radius: 4px; }
		.imgWrapper { 
			.boardPinCount { right: 5px; bottom: 5px; padding: 2px 4px; border-radius: 3px; line-height: 1.1; font-size: 10px; }
		}
		/* thumb list news */
		&-list-news { margin-bottom: 10px;
			.newsItem { font-size: 10px; 
				&:first-child .newsImg .imgIcon { margin-top: -6px;}
				div { height: 28px; }
				.newsImg { width: 33.33332%;
					.imgIcon { width: 26px; height: 26px; margin-top: -1px; border-radius: 50%; }
				}
				.newsText { width: 66.66668%; padding: 5px 0px; line-height: 1.1; }
			}
			.newCreditItem {
				.newsInfo { padding: 5px 0px; 
					p { margin: 0; padding: 0; }
				}
			}
		}
		/* button follow */
		.btn-follow { font-size: 10px; line-height: 1.1; }
	}
}




/* Sign In / Sign Up */
.form-signin, .form-signup { font-size: 14px; height: auto; margin: auto; margin-top: 60px; background-color: #fff; border-radius: 6px; box-shadow: 0 1px 4px rgba(0,0,0, 0.2); }
.form-body { padding: 20px 40px 20px 40px;
	.logo { text-align: center; }
	.title-form { font-size: 22px; font-weight: 400; padding-bottom: 20px; }
}
.form-footer { padding: 20px 40px; border-top: 1px solid #ccc;
	a { color: #8B8B8B; }
}
.col-centered {
  float: none;
  margin: 0 auto;
}
