
@mixin transition-all($sec: 0.5s) {
  transition: all $sec ease-in-out;
  -o-transition: all $sec ease-in-out;
  -ms-transition: all $sec ease-in-out;
  -moz-transition: all $sec ease-in-out;
  -webkit-transition: all $sec ease-in-out;
}

@mixin transform-translate($tx, $ty) {
	transform: translate($tx, $ty);
	-o-transform: translate($tx, $ty);
	-ms-transform: translate($tx, $ty);
	-moz-transform: translate($tx, $ty);
	-webkit-transform: translate($tx, $ty);
}