/* use config */
@import "config/bootstrap/variables";
@import "config/fontawesome/variables";

/* using bootstrap and fontawesome */
@import 'bootstrap';
@import "font-awesome";

/* use defined */
@import 'defined/variables';
@import "defined/mixins";


* { outline-style: none !important; }
body { background-color: #F5F8FA; color: $gray; font-family: Helvetica Neue,Helvetica,Arial,Verdana,Geneva,sans-serif; }
ul, li { list-style: none; }

#home-content { margin-top: 40px; }
#box-content { margin-top: 140px; }
#product-content { margin-top: 80px; }
#cart-content { margin-top: 100px; }

// ReactCSSTransitionGroup
.notif-enter {
  opacity: .01;
  transition: opacity .4s ease-in;
}

.notif-enter.notif-enter-active {
  opacity: 1;
}

.notif-leave {
  opacity: 1;
  transition: opacity .6s ease-in;
}

.notif-leave.notif-leave-active {
  opacity: .01;
}

// /* Components */
// @import 'defined/header';
// @import 'defined/home';
// @import 'defined/thumbnail';
// @import 'defined/signup-signin';
// @import 'defined/productdetail';
// @import 'defined/cart';
// @import 'defined/checkout';


@import 'defined/header';
@import 'defined/navleft';
@import 'defined/thumbnail';
@import 'defined/cart';
@import 'defined/productdetail';
@import 'defined/signup-signin';
@import 'defined/checkout';
@import 'defined/finally';


.hide { display: none; }
