
$font-zize-body: 16px;


/* body! */
$bg-none: rgba(255, 255, 255, 0.0);
$bg-body: #E8E8E8;
$color: #666D7C;
$font-family: Helvetica Neue,Helvetica,Arial,Verdana,Geneva,sans-serif;

/* Navbar */
$navbar-default-bg: rgba(255, 255, 255, 0.96);


/* .thumbnail */
$thumb-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.22);
$thumb-font-family: Helvetica Neue,Helvetica,Arial,Verdana,Geneva,sans-serif;
$thumb-padding: 0px 10px;
$thumb-border-radius: 6px;
	
