<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no">
	<title>tocu.vn</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/sass/test.css">

</head>
<body>

		<header>
      <div class="container">
      </div>
    </header>

    <section id="content">
			<div class="container">
		    <div class="row">
		      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
		        <div class="thumbnail">
		        	<h4 class="thumbnail-title">Tin Tổ Cú</h4>
		          <div class="imgWrapper">
			          <img class="img-rounded" data-holder-rendered="true" src="/img/404.jpg" style=" width: 100%; display: block;" data-src="holder.js/100%x200" alt="100%x200">
			          <span class="boardPinCount">45 Post</span>
		        	</div>
		          <div>
		            <div class="thumbnail-list-news">
		            	<div class="newsItem">
		            		<div class="newsImg"><span class="imgIcon imgIcon-bg-blue imgIcon-list"></span></div>
							  		<div class="newsText">Khui nong kien Cardigan day & kien abc</div>
		            	</div>
		            	<a href="#" class="newsItem">
		            		<div class="newsImg"><span class="imgIcon"></span></div>
							  		<div class="newsText">Tiep tuc sale len 9K & ao da 99k</div>
		            	</a>
		            </div>
		            <p><div class="btn btn-default btn-block btn-follow">Follow</div></p>
		          </div>
		        </div>
		      </div>
		      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
		        <div class="thumbnail">
		        	<h4 class="thumbnail-title">Chăn đơn</h4>
		        	<div class="imgWrapper">
			          <img class="img-rounded" data-holder-rendered="true" src="/img/404.jpg" style=" width: 100%; display: block;" data-src="holder.js/100%x200" alt="100%x200">
			          <span class="boardPinCount">15 SP</span>
		        	</div>
		          <div>
		            <div class="thumbnail-list-news">
		            	<a href="#" class="newsItem newCreditItem">
		            		<div class="newsImg"><span class="imgIcon imgIcon-bg-red imgIcon-shopping"></span></div>
							  		<div class="newsText newsInfo">
							  			<p class="creditTitle">Chăn đơn CD01</p>
							  			<p><strong class="creditCost">150.000d</strong></p>
							  		</div>
		            	</a>
		            	<a href="#" class="newsItem newCreditItem">
		            		<div class="newsImg"><span class="imgIcon"></span></div>
							  		<div class="newsText newsInfo">
							  			<p class="creditTitle">Chăn đơn CD02</p>
							  			<p><strong class="creditCost">150.000d</strong></p>
							  		</div>
		            	</a>
		            </div>
		            <p><div class="btn btn-default btn-block btn-follow">Follow</div></p>
		          </div>
		        </div>
		      </div>
		      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
		        <div class="thumbnail">
		        	<h4 class="thumbnail-title">Cardigan</h4>
		          <div class="imgWrapper">
			          <img class="img-rounded" data-holder-rendered="true" src="/img/404.jpg" style=" width: 100%; display: block;" data-src="holder.js/100%x200" alt="100%x200">
			          <span class="boardPinCount">156 SP</span>
		        	</div>
		          <div>
		            <div class="thumbnail-list-news">
		            	<div class="newsItem">
		            		<div class="newsImg"><span class="imgIcon imgIcon-bg-red imgIcon-photo"></span></div>
							  		<div class="newsText">Khui nong kien Cardigan day & kien</div>
		            	</div>
		            	<a href="#" class="newsItem">
		            		<div class="newsImg"><span class="imgIcon"></span></div>
							  		<div class="newsText">Tiep tuc sale len 9K & ao da 99k</div>
		            	</a>
		            </div>
		            <p><div class="btn btn-default btn-block btn-follow">Follow</div></p>
		          </div>
		        </div>
		      </div>
		      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
		        <div class="thumbnail">
		        	<h4 class="thumbnail-title">Street Smart DENIM</h4>
		          <div class="imgWrapper">
			          <img class="img-rounded" data-holder-rendered="true" src="/img/404.jpg" style=" width: 100%; display: block;" data-src="holder.js/100%x200" alt="100%x200">
			          <span class="boardPinCount">12 Ảnh</span>
		        	</div>
		          <div>
		            <div class="thumbnail-list-news">
		            	<div class="newsItem">
		            		<div class="newsImg"><span class="imgIcon imgIcon-bg-yellow"></span></div>
							  		<div class="newsText">Dien Denim tren pho</div>
		            	</div>
		            	<a href="#" class="newsItem">
		            		<div class="newsImg"><span class="imgIcon"></span></div>
							  		<div class="newsText">Tiep tuc sale len 9K & ao da 99k</div>
		            	</a>
		            </div>
		            <p><div class="btn btn-default btn-block btn-follow">Follow</div></p>
		          </div>
		        </div>
		      </div>
		      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
		        <div class="thumbnail">
		        	<h4 class="thumbnail-title">Mori mori girls</h4>
		          <div class="imgWrapper">
			          <img class="img-rounded" data-holder-rendered="true" src="/img/404.jpg" style=" width: 100%; display: block;" data-src="holder.js/100%x200" alt="100%x200">
			          <span class="boardPinCount">76 Ảnh</span>
		        	</div>
		          <div>
		            <div class="thumbnail-list-news">
		            	<div class="newsItem">
		            		<div class="newsImg"><span class="imgIcon imgIcon-bg-yellow"></span></div>
							  		<div class="newsText">Khui nong kien Cardigan day & kien</div>
		            	</div>
		            	<a href="#" class="newsItem">
		            		<div class="newsImg"><span class="imgIcon"></span></div>
							  		<div class="newsText">Tiep tuc sale len 9K & ao da 99k</div>
		            	</a>
		            </div>
		            <p><div class="btn btn-default btn-block btn-follow">Follow</div></p>
		          </div>
		        </div>
		      </div>
		      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
		        <div class="thumbnail">
		        	<h4 class="thumbnail-title">Tuyen dung</h4>
		          <div class="imgWrapper">
			          <img class="img-rounded" data-holder-rendered="true" src="/img/404.jpg" style=" width: 100%; display: block;" data-src="holder.js/100%x200" alt="100%x200">
			          <span class="boardPinCount">1 Post</span>
		        	</div>
		          <div>
		            <div class="thumbnail-list-news">
		            	<div class="newsItem">
		            		<div class="newsImg"><span class="imgIcon imgIcon-bg-blue"></span></div>
							  		<div class="newsText">Khui nong kien Cardigan day & kien</div>
		            	</div>
		            	<a href="#" class="newsItem">
		            		<div class="newsImg"><span class="imgIcon"></span></div>
							  		<div class="newsText">Tiep tuc sale len 9K & ao da 99k</div>
		            	</a>
		            </div>
		            <p><div class="btn btn-default btn-block btn-follow">Follow</div></p>
		          </div>
		        </div>
		      </div>
		      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
		        <div class="thumbnail">
		        	<h4 class="thumbnail-title">Giay - Boot</h4>
		          <div class="imgWrapper">
			          <img class="img-rounded" data-holder-rendered="true" src="/img/404.jpg" style=" width: 100%; display: block;" data-src="holder.js/100%x200" alt="100%x200">
			          <span class="boardPinCount">32 SP</span>
		        	</div>
		          <div>
		            <div class="thumbnail-list-news">
		            	<div class="newsItem">
		            		<div class="newsImg"><span class="imgIcon imgIcon-bg-red"></span></div>
							  		<div class="newsText">Khui nong kien Cardigan day & kien</div>
		            	</div>
		            	<a href="#" class="newsItem">
		            		<div class="newsImg"><span class="imgIcon"></span></div>
							  		<div class="newsText">Tiep tuc sale len 9K & ao da 99k</div>
		            	</a>
		            </div>
		            <p><div class="btn btn-default btn-block btn-follow">Follow</div></p>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
    </section>

		<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</body>
</html>