<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<title>tocu.vn</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/sass/test.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />


</head>
<body>

		<header>
      <div class="container-fluid">

      	<nav class="navbar navbar-default navbar-fixed-top">
		      <div class="container-fluid">
		        <div class="navbar-header">
		        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
			        <a class="navbar-brand" href="#">
		            <img alt="Brand" src="/img/logo.png" width="40" height="40">
		          </a>
		          <p class="navbar-text pull-left">Tổ Cú</p>
		        </div>
		        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	          	<div class="nav navbar-nav navbar-right">
				        <button type="button" class="btn btn-sm btn-default navbar-btn">Sign in</button>
				        <button type="button" class="btn btn-sm btn-primary navbar-btn">Sign up</button>
			        </div>
		        </div>
	        </div>
		    </nav>

      </div>
    </header>

    <section id="productDetail">
			<div class="container">
		    <div class="row">
		      <div class="col-md-9 col-lg-9">
		        <div class="productDetail" >
		        	<div class="navbar-product-detail">
			   				<nav class="navbar navbar-defaul">
					        <div class="navbar-header">
						        <div class="btn-group">
										  <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-heart gray">&nbsp;</i> Thích</button>
										  <button type="button" class="btn btn-default count-like navbar-btn"><span>12</span></button>
										</div>
						        <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-facebook-square gray">&nbsp; </i>Chia sẻ</button>
					        </div>
			          	<div class="nav navbar-nav navbar-right">
						        <button type="button" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart gray">&nbsp; </i> Mua</button>
					        </div>
						    </nav>
					    </div>
					    <div class="product">
					    	<div class="imgProduct">
					    		<div class="imageContainer hihi">
						    		<img class="img-rounded" src="http://images.urbanoutfitters.com/is/image/UrbanOutfitters/35405885_014_b?$medium$&defaultImage=" >
						    		<div class="slide-tabs">
						    			<ul>
						    				<li class="active"></li>
						    				<li></li>
						    				<li></li>
						    			</ul>
						    		</div>
					    		</div>
					    		<div class="imageSlide-tabs">
					    			<ul>
								      <li class="action"><a href="#"><img src="http://images.urbanoutfitters.com/is/image/UrbanOutfitters/35405885_014_b?$medium$&defaultImage=" alt=""></a></li>
								      <li><a href="#"><img src="http://images.urbanoutfitters.com/is/image/UrbanOutfitters/35405885_014_g?$medium$&defaultImage=" alt=""></a></li>
								      <li><a href="#"><img src="http://images.urbanoutfitters.com/is/image/UrbanOutfitters/35405885_014_d?$medium$&defaultImage=" alt=""></a></li>
								    </ul>
					    		</div>
					    	</div>
					    	<div class="product-detail">
					    		<div class="detail">
									  <h1>Váy trắng vintage</h1>
									  <h3 class="gia">Giá: 250.000 VNĐ</h3>
					    		</div>
								  <div class="row">
								  	<div class="col-md-6">
								  		  <ul >
											    <li>Mã số: <strong>V112</strong></li>
											    <li>Tình trạng: <strong>Còn hàng</strong></li>
											    <li>
											    	<p class="status">từ năm ngoái Cú đã phát hiện ra trong kiện sơ mi xô Nhật rất hay có áo của hãng này. Ấn tượng đầu tiên là từ cái tên :x tiếp theo bởi style đơn gian nhưng thể nào cũng sẽ có chi tiết gì đó rất nhở thôi nhưng lại rất xinh xắn đáng yêu, chiếc nào cũng vậy í! Còn đường kim mũi chỉ nữa thì cẩn thận perfect luôn.</p>
											    </li>
											  </ul>
								  	</div>
								  	<div class="col-md-6">
								  		  <ul>
											    <li class="border-bottom-2"><strong>Mẫu</strong></li>
											    <li>Cao: <strong>1m65</strong></li>
											    <li>Nặng: <strong>50 kg</strong></li>
											    <li>Vòng 1: <strong>87 cm</strong></li>
											    <li>Vòng 2: <strong>67 cm</strong></li>
											    <li>Vòng 3: <strong>90 cm</strong></li>
											  </ul>
								  	</div>
								  </div>
					    	</div>
					    </div>
		        </div>
		      </div>
		      <div class="col-md-3 col-lg-3">
				    <div class="row">
				    	<div class="col-xs-6 col-sm-4 col-md-12 col-lg-12">
				        <div class="thumbnail">
				        	<h4 class="thumbnail-title">Chăn đơn</h4>
				        	<div class="imgWrapper">
					          <img class="img-rounded" data-holder-rendered="true" src="/img/404.jpg" style=" width: 100%; display: block;" data-src="holder.js/100%x200" alt="100%x200">
					          <span class="boardPinCount">15 SP</span>
				        	</div>
				          <div>
				            <div class="thumbnail-list-news">
				            	<a href="#" class="newsItem newCreditItem">
				            		<div class="newsImg"><span class="imgIcon imgIcon-bg-red imgIcon-shopping"></span></div>
									  		<div class="newsText newsInfo">
									  			<p class="creditTitle">Chăn đơn CD01</p>
									  			<p><strong class="creditCost">150.000d</strong></p>
									  		</div>
				            	</a>
				            	<a href="#" class="newsItem newCreditItem">
				            		<div class="newsImg"><span class="imgIcon"></span></div>
									  		<div class="newsText newsInfo">
									  			<p class="creditTitle">Chăn đơn CD02</p>
									  			<p><strong class="creditCost">150.000d</strong></p>
									  		</div>
				            	</a>
				            </div>
				            <p><div class="btn btn-default btn-block btn-follow">Follow</div></p>
				          </div>
				        </div>
				      </div>
			      	<div class="col-xs-6 col-sm-4 col-md-12 col-lg-12">
				        <div class="thumbnail">
				        	<h4 class="thumbnail-title">Chăn đơn</h4>
				        	<div class="imgWrapper">
					          <img class="img-rounded" data-holder-rendered="true" src="/img/404.jpg" style=" width: 100%; display: block;" data-src="holder.js/100%x200" alt="100%x200">
					          <span class="boardPinCount">15 SP</span>
				        	</div>
				          <div>
				            <div class="thumbnail-list-news">
				            	<a href="#" class="newsItem newCreditItem">
				            		<div class="newsImg"><span class="imgIcon imgIcon-bg-red imgIcon-shopping"></span></div>
									  		<div class="newsText newsInfo">
									  			<p class="creditTitle">Chăn đơn CD01</p>
									  			<p><strong class="creditCost">150.000d</strong></p>
									  		</div>
				            	</a>
				            	<a href="#" class="newsItem newCreditItem">
				            		<div class="newsImg"><span class="imgIcon"></span></div>
									  		<div class="newsText newsInfo">
									  			<p class="creditTitle">Chăn đơn CD02</p>
									  			<p><strong class="creditCost">150.000d</strong></p>
									  		</div>
				            	</a>
				            </div>
				            <p><div class="btn btn-default btn-block btn-follow">Follow</div></p>
				          </div>
				        </div>
				      </div>
			      </div>
		      </div>
		    </div>
		  </div>
    </section>

		<script src="/js/jquery-2.1.4.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>

</body>
</html>