/* header */
header { background: $body-bg; box-shadow: $header-shadow; position: relative; 
	a { color: $gray-light;
		&:hover, &:focus { color: $link-hover-color; text-decoration: none; }
	}
	.profileImage { margin: 0px auto -87px; background: $body-bg; width: 60px; padding-top: 18px; position: relative; z-index: 1040;  border-radius: 15px;
		img { width: 60px; height: 60px; padding: 5px; border: 1px solid $border-color; border-radius: 50%; }
	}
	.navbar-default { padding: 8px 0px; background-color: $navbar-default-bg; width: 100%; left: 0; @include transition-all(0.3s);
		&.navbar-home { box-shadow: $header-shadow; border-color: #eee; border-bottom: none; }
		&.test { width: calc(100% - 30px); left: 15px; box-shadow: none; border-bottom: 1px solid #eee; }
		.fixedHeaderNameAndImage { @include transition-all(0.3s);
			&.show { @include transform-translate(0px, 0px); }
			&.hiden { @include transform-translate(0px, -80px); }
		}
		.navbar-brand { padding: 5px 12px 0px 12px; 
			img { border-radius: 50%; padding: 4px; border: 1px solid $border-color; box-sizing: border-box; }
		}
		.navbar-text { margin: 0px; height: 50px; line-height: 50px; font-weight: bold; color: $text-color; font-size: $navbar-size-header-name; }
		.navbar-nav { margin: 0; }
		.btn-default { background: $navbar-btn-bg; border: 1px solid $border-color; }
		.navbar-btn.btn-sm { box-shadow: 0px 1px 1px #BABABA; border-radius: 4px; }
		.navbar-btn.btn-sm:nth-child(1n + 2) { margin-left: 10px; }
		.navbar-right { height: 50px; line-height: 50px;
			.dropdown-toggle { padding: 0; margin: 0; 
				&:active, &:visited { border-color: #fff; }
			}
			img { width: 32px; height: 32px; border-radius: 2px; }
			.text-name { padding: 0 10px; margin-top: 25px; }
		}
	}
	.profileInfo {
		.name { font-weight: bold; color: $text-color; }
		margin-top: 80px; text-align: center; padding-bottom: 20px;
		ul { padding-left: 0px; padding-right: 0px; }
		li { display: inline-block;
			&:nth-child(1n + 2):before { content: '♀'; width: 20px; height: 20px; padding: 8px; } /*•*/
		}
	}
	.infoBar { height: 60px; border-top: 1px solid $border-color;
		a { display: block; color: $gray; text-align: center; padding-top: 10px; padding-bottom: 10px;
			span { display: block;
				&.value { font-weight: 700; }
				&.labels { font-size: $font-size-small; }
			}
			&:hover, &:focus { color: $link-hover-color; text-decoration: none; }
		}
	}
	@media all and (max-width: 768px) {
		.navbar-default { @include transition-all(0.3s);
			&.test { width: 100%; left: 0; }
		}
		.navbar-nav { margin: 8px 0px; }
		.infoBar {
			a {
				span { display: block;
					&.labels { font-size: 10px; }
				}
			}
		}
	}
}

.navbar-default {
	&.headerHiden { top: -68px; }
}

.navbar-product { top: 66px; height: 60px; z-index: 1029; background: rgba(255, 255, 255, 1); @include transition-all(0.3s); box-shadow: $header-shadow; border: none;
	&.headerHiden { top: 0px; }
	.infoListProduct { margin: auto; height: 60px; padding: 10px;
		.nameinfoListProduct { font-size: 20px; font-weight: 600; line-height: 1.2; }
		.countListProduct { font-size: $font-size-small; }
	}
	.btn-group { float: right; }
	.btn {  margin-top: 4px; }
}